{{include('head.html.twig')}}

    <body class="form">
        {% block main %}
            <section class>
                <div class="container ">
                    <h2 class="section-title mb-5">Login
                        <span>Administrateur</span>
                    </h2>
                    <div class="col-12 d-flex justify-content-center">
                        <form method="post" >
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as
                                    {{ app.user.userIdentifier }},
                                    <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            
                            <label for="inputUsername" class="form-label">Identifiant</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                            <label for="inputPassword" class="form-label">Mots de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-primary mt-5 " type="submit">
                            Connexion
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock %}
    </body>
</html>
