{{include('head.html.twig')}}

<body>
	{% block main %}
		<section>
			<div class="container single">
				<h1 class=" mb-5">{{ experience.name }}</h1> <br> <br>
				<div class="row ">
					<div class="col-lg-6">
						<h2 class= "ms-5">
							{{experience.job }}</h2>
						<img src="../uploads/{{experience.picture}}" alt="{{experience.job}}">
					</div>

					<div class="col-lg-6 ">
						<h3>Description des missions :</h3><br>
						
						<p>{{ experience.description | striptags | raw }}
						<br></p>
						
						<h3>Informations complémentaires :</h3>
						<p>{{experience.additionalInformation}}</p>
						<br><br>

						<h3>Période d'exercice :
						</h3>
						<p>{{experience.startYear|date("Y")}}-{{experience.endYear|date("Y")}}</p>
						<a href="{{path('home')}}#experience" class="btn mt-5">Retour</a>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
</body>
</html>
